@model ComputerModel

@{
    ViewData["Title"] = "Submit";
}

<h2>Submit</h2>

<p>Name: @Model.Name</p>
<p>Password: @Model.AdminPassword</p>
<p>IpAddress: @Model.IpAddress</p>
<p>Location: @Model.Location</p>
<p>OS: @Model.OS</p>
<p>Description: @Model.Description</p>
<p>Monitors: @Model.SupportedMonitors</p>
