@model ComputerModel

<h3>Computer Model:</h3>
<p>Was loaded</p>
<div class="col-sm-4">
    <p>Name: @Model.Name</p>
    <p>Password: @Model.AdminPassword</p>
    <p>IpAddress: @Model.IpAddress</p>
    <p>Location: @Model.Location</p>
    <p>OS: @Model.OS</p>
    <p>Description: @Model.Description</p>
    <p>Monitors: @Model.SupportedMonitors</p>
</div>